@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primary: #1b77fd;
    --color-danger:#ff0060;
    --color-danger-variant: #ff88b6;
    --color-sucess:#1b9c85
    --color-sucess-variant: #3cdbbe;
    --color-warning:#f7d060;
    --color-warning-variant:#fde395;

    --color-white:#fff;
    --color-dark:#363949;
    --color-info-dark:#7d8da1;
    --color-light:rgba(132,139,200,.18);
    --color-dark-variant:#677483;
    --color-bckground:#f6f6f9;

}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}

.form-cad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 470px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--color-primary);
}

.logo i{
    font-size: 35px;
}

.logo h2{
    font-size: 35px;
}

.input-area{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 12px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--color-light);
    gap: 1rem;
}

.input-area a{
    width: 100%;
    background: var(--color-primary);
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
}

.inputs{
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    gap: .75rem;
    background: var(--color-bckground);
    border-radius: 8px;
    padding: 10px;
}

.inputs i{
    font-size: 22px;
}

.inputs input{
    background: transparent;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.log-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.log-link a{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
}

.enter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;
    width: 80%;
    margin-top: 10px;
    padding: 15px 0;
    border-bottom: 1px solid var(--color-light);
}

.enter button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: 8px;
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 16px;
    border: 3px solid transparent;
    width: 100%;
    transition: border .3s ease-in;
}

#email_enter{
    background: var(--color-danger);
}

#phone_enter{
    background: #1b9c85;
}

#email_enter:hover{
    border: 3px solid var(--color-danger-variant);
}

#phone_enter:hover{
    border: 3px solid #3cdbbe;
}

#phone_input{
    display: none;
}