@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-primary: #1f77db;
  --color-danger: #ff0060;
  --color-danger-variant: #fcb6d1;
  --color-sucess: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #1e2029;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-button-hover: #5695dd;

  --card-border-radius: 1.3rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;

  --card-padding: 1rem;
  --padding-1: 0.8rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* CSS Geral */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100dvh;
  font-size: 0.8rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background: var(--color-background);
}

h1 {
  font-weight: 700;
  font-size: 1.8rem;
}

h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.8rem;
}

/*Fim do CSS Geral*/

.container {
  display: flex;
  gap: 1rem;
}

.sidebar {
  width: 180px;
  height: 100dvh;
  background: var(--color-white);
  padding: 0.5rem;
  border-right: 1px solid var(--color-info-dark);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar-links img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.button-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 7px;
  border-radius: 7px;
  cursor: pointer;
  background: transparent;
  transition: 0.3s;
}

.active {
  background: var(--color-primary);
  color: var(--color-white);
}

.close {
  display: none;
}

.button-link:hover {
  margin-left: 2px;
}

.button-link i {
  font-size: 20px;
}

.button-link h3 {
  font-size: 12px;
}

.top-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid var(--color-info-dark);
}

.logo {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  gap: 0.5rem;
}

.logo h2 {
  font-weight: 700;
}

.top-sidebar i {
  font-size: 20px;
}

@media  screen and (max-width:1225px) {
  .sidebar{
    height: 105dvh;
  }
}

@media  screen and (max-width:800px) {
  .sidebar{
    height: 140dvh;
  }

  #lista-despesas{
    height: 200px;
  }
}

nav {
  display: none;
  z-index: 2;
  position: fixed;
  background: var(--color-white);
  width: 100%;
  border-bottom: 1px solid var(--color-info-dark);
  padding: 15px;
}

#open_menu {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0 8px 0 8px;
  background: transparent;
}

#open_menu i {
  font-size: 24px;
}

#open_menu h3 {
  font-size: 16px;
}

/* --Mobile-- */

@media screen and (max-width: 768px) {
  nav {
    display: block;
  }

  .sidebar {
    position: fixed;
    background-color: var(--color-white);
    width: 15rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100%;
    left: -100%;
    display: none;
    animation: showMenu 0.4s ease forwards;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }

  .top-sidebar {
    justify-content: space-between;
  }

  .top-sidebar .logo h2 {
    display: inline;
  }

  .top-sidebar .close {
    display: block;
  }

  .sidebar .button-link {
    width: 85%;
    justify-content: start;
    margin-left: 1rem;
    border-radius: 5px;
  }

  .sidebar .button-link h3 {
    display: inline;
  }

  .container {
    flex-direction: column;
  }

  .main {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .input-area-desp button {
    width: 100%;
  }
}

.main {
  width: 100%;
}

.content {
  width: 97%;
  position: relative;
  margin-top: 20px;
}

#home_page {
  display: block;
}

.top-inicio {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}

.rendas {
  width: 40%;
  flex-grow: 2;
  flex-basis: 200px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-info-dark);
  background: var(--color-white);
}

.rendas h2 {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-light);
}

.rendas input {
  margin-top: 10px;
  width: 80%;
  border-radius: 8px;
  padding: 8px;
  outline: none;
  border: 1px solid var(--color-light);
}

.rendas input::-webkit-inner-spin-button,
.rendas input::-webkit-outer-spin-button {
  appearance: none;
}

.result-renda-area {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.result-renda-area span {
  font-size: 25px;
  font-weight: 500;
}

.result-renda-area button {
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  padding: 0 10px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.result-renda-area button:hover {
  background: var(--color-button-hover);
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-area i {
  margin-top: 10px;
  font-size: 25px;
  color: var(--color-primary);
}

#desempenho_page {
  display: none;
}

#profile_page {
  display: none;
}

#comousar_page {
  display: none;
}

#lembretes_page {
  display: none;
}

.despesas {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin-top: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-variant);
  background: var(--color-white);
}

.despesas h3 {
  font-size: 14px;
}

.input-area-desp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  border-top: 1px solid var(--color-light);
}

.inputs-desp {
  width: 100%;
  margin-top: 10px;
  flex-basis: 150px;
}

.inputs-desp p {
  font-size: 14px;
}

.inputs-desp input,
.inputs-desp select {
  border: 1px solid var(--color-light);
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  outline: none;
}

#add_desp {
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-white);
  margin-top: 30px;
  font-weight: 600;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#lista-despesas{
  width: 97%;
  height: 350px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid var(--color-dark-variant);
  background: var(--color-white);
  overflow: hidden;
  overflow-y: scroll;
}

#lista-despesas h3{
  font-size: 14px;
}

#information-desp{
  width: 100%;
  margin-top: 10px;
}

#information-desp h3{
  font-size: 16px;
  padding-bottom: 8px;
  border-bottom: 1px dashed var(--color-info-dark);
}

@media screen and (max-width:1100px){
  .values{
    flex-direction: column;
  }

  .value-desp{
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--color-light);
  }

  .button-area-desp{
    width: 100%;
    margin: 10px 0;
  }

  .button-area-desp button{
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

.values{
  padding-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.value-desp{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-size: 14px;
}

.value-desp span{
  font-weight: 700;
  font-family: monospace;
}

.button-area-desp{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.button-area-desp button{
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 3px;
  padding: 5px 8px;
}

.button-area-desp button:last-child{
  background: var(--color-danger);
}

.saldo{
  width: 97%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-info-dark);
  padding: 20px 10px;
  margin: 10px 0;
  border-radius: 8px;
  background: var(--color-white);
}

.saldo h2{
  font-size: 24px;
}

.saldo button{
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 600;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.user-area{
  display: flex;
  width: 100%;
  height: 80dvh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-area img{
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
  border: 1px solid var(--color-info-dark);
  border-radius: 10px;
  background: var(--color-white);
  width: 420px;
}

.user-information h2{
  font-size: 25px;
}

.user-information h3{
  font-size: 14px;
}

.user-information h4{
  font-size: 16px;
  color:var(--color-info-dark);
}

.user-information button{
  font-size: 16px;
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  background: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

#modal_user{
  position: fixed;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #00000059;
}

.modal{
  background: var(--color-white);
  width: 700px;
  padding: 20px;
  border-radius: 10px;
}
.top-modal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-light);
}

.top-modal button{
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--color-danger);
  color: var(--color-white);
  font-weight: 700;
  cursor: pointer;
}

.profile-form{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-form input{
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--color-light);
  outline: none;
}

.profile-form input::file-selector-button{
  color: var(--color-white);
  padding: 8px;
  background: var(--color-primary);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form #new_photo {
  border: 0;
}

.profile-form label{
  font-size: 14px;
}

.profile-form button{
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-sucess);
  color: var(--color-white);
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}